
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/details" >
        <input type="text" placeholder="Registration Number" name="registernum">
        <input type="text" placeholder="Car Name" name="carname">
        <input type="text" placeholder="Car Make" name="carmake">
        <input type="text" placeholder="Company" name="carcompany">
        <button type="submit">Submit</button>
    </form>
</body>
</html>